body{

	background-image: url("./img/background.png");
}

.veterinarios{
	margin-top: 50px;
	margin: 15px;
	/*	display: inline-block; */
	flex-wrap: wrap;
 	display: flex;
 	justify-content: space-between;
 	/* background-color: #F38630;*/

}
#logo{
	width: 150px; 
}

.container{
margin-top: 30px;
 width: 100%;
 flex-wrap: wrap;
 display: flex;
 justify-content: center;
}
.mv{
width: 50%;
 color: white;
 background-color: #F38630;
 height: 250px;
}

.nombre{
	display: flex;
 text-align: center;
}

.datos{
	display: inline-block;
}

.ranking{
	margin-top: 10px;
	width: 40%;
	margin-right: 10px;
	
	
}
.h3mv{
	color: #69D2E7;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;
	height: 30px;
}

h3{
	font-size: 15px;
	margin-top: 10px;
	height: 30px;
}
.fotoDiv {
	
	width: 50%;
 display: flex;
 justify-content: right;
 height: 250px;



    /* cambia estos dos valores para definir el tamaño de tu círculo */
  
    /*margin-top: 15px;
    width: 100%;
    border: 2px solid #FA6900;
    border-radius: 5%;
    background-color: #F38630;*/
    
    /* los siguientes valores son independientes del tamaño del círculo */
   /* background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;*/


}

.foto{
	width: 100%;
	border: 15px solid #69D2E7;
}

a{
	font-size: 11px;

}

a:hover {
font-size: 14px;
}

.num{
margin: 4px;
width: 40px;
border: 5px solid #69D2E7;
}

.valores{
margin-top: 8px;
margin-bottom: 4px;

}

.num:hover{
width: 40px;
border: 8px solid #69D2E7;


}

.mvf2{

width: 100%;
height: 30px;
display: flex;
 justify-content: space-between;

}

.huesos{
	width: 30%;
	margin-top: 10px;
	margin-right: 10px;
}

.cita{
	width: 150px;
	height: 30px;
}

.cita:hover {
	/*filter: grayscale(80%);*/
	filter: opacity(.5);

}

#zona{
	width: 150px;

}
/*aqui
*/

.container2 {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 100%;
  text-align: center;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#mailto{
	font-size: 100%;
	color: white;
}
